Repository duworldtech/construction-site-safety-app, changes with the labels that .github/labeler.yml gives for each.
All labels: bootstrap, shared-core, api-scaffold

feat: initialize Construction Safety App with CI, Makefile, and Node support
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  apps/.gitkeep
  package.json
  pnpm-workspace.yaml
  turbo.json
Labels: bootstrap

chore: add pnpm-lock.yaml for CI
  pnpm-lock.yaml
Labels: bootstrap

fix: correct turbo.json syntax for CI
  turbo.json
Labels: bootstrap

feat: add shared core modules and configuration files including .env.example
  .env.example
  README.md
  package.json
  packages/shared-config/package.json
  packages/shared-config/src/index.ts
  packages/shared-config/tests/index.test.ts
  packages/shared-config/tsconfig.build.json
  packages/shared-config/tsconfig.json
  packages/shared-crypto/package.json
  packages/shared-crypto/src/index.ts
  packages/shared-crypto/tests/index.test.ts
  packages/shared-crypto/tsconfig.build.json
  packages/shared-crypto/tsconfig.json
  packages/shared-types/package.json
  packages/shared-types/src/index.ts
  packages/shared-types/tests/index.test.ts
  packages/shared-types/tsconfig.build.json
  packages/shared-types/tsconfig.json
  tsconfig.base.json
Labels: bootstrap, shared-core

chore: update .env.example with new config variables and placeholders
  .env.example
Labels: bootstrap

feat(api): add NestJS API scaffold with health endpoint and Prisma integration
  README.md
  apps/api/.env.example
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.js
  apps/api/src/app.controller.ts
  apps/api/src/app.module.ts
  apps/api/src/health.controller.ts
  apps/api/src/main.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
Labels: bootstrap, api-scaffold

feat: enhance health check and bootstrap with config, add e2e test for health endpoint
  apps/api/src/health.controller.ts
  apps/api/src/main.ts
  apps/api/tests/health.e2e.test.ts
Labels: bootstrap, api-scaffold

feat(auth): add authentication module with login functionality and JWT support
  apps/api/.env.example
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.mock.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/auth.types.ts
  apps/api/src/auth/jwt.guard.ts
  apps/api/src/auth/roles.guard.ts
  apps/api/src/health.controller.ts
Labels: bootstrap, api-scaffold

feat(tests): add integration tests for health and auth routes using supertest
  apps/api/package.json
  apps/api/tests/api.e2e.test.ts
Labels: bootstrap, api-scaffold

feat: add Next.js web scaffold with login and dashboard features, include API integration
  README.md
  apps/web/app/dashboard/page.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
Labels: bootstrap

feat: add end-to-end tests with Playwright for web application
  .github/workflows/ci.yml
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/tests/web.e2e.spec.ts
Labels: bootstrap

feat: add UI/UX improvements and Playwright E2E tests for login and dashboard
  README.md
  apps/web/app/dashboard/page.tsx
  apps/web/app/login/page.tsx
Labels: bootstrap

chore: update README for improved clarity and structure, focusing on the minimal functional stack of the Construction Safety App
  README.md
Labels: bootstrap

chore: update package.json to add jsonwebtoken and @types/node dependencies
  apps/api/package.json
  packages/shared-config/package.json
  packages/shared-crypto/package.json
  packages/shared-types/package.json
Labels: bootstrap, shared-core, api-scaffold

chore: rename 'pipeline' to 'tasks' in turbo.json
  turbo.json
Labels: bootstrap

chore: add @construction/shared-config to dependencies
  apps/api/package.json
Labels: bootstrap, api-scaffold

.github/labeler.yml:

bootstrap: ["**/*"]
shared-core: ["packages/shared-*/*"]
api-scaffold: ["apps/api/**", "prisma/**"]
